.header {
    background-color: #d5dbff;
    padding: 16px;
  }
  
  .menu-icon {
    background-color: #004A87;
    padding: 1.5rem;
    margin-left: -1rem;
    cursor: pointer;
  }
  
  .logo {
    width: auto;
    height: 2rem;
  }
  
  .separator {
    width: 1px;
    height: 100%;
    background-color: black;
  }
  